nav {
  width: 90%;
  margin: auto;
  padding: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #33a06f;
  font-size: 1.5rem;
  font-weight: 500;
}
.links a {
  margin-right: 2rem;
}
