.navContainer {
  padding-top: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 3;
  background-color: #020a13;
}
nav {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #33a06f;
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar a:hover,
.navbar a:active {
  color: white;
}
.links a {
  margin-right: 2rem;
}
