.projectList{
    width: 90%;
    margin: 2rem auto;
}
.projectListDiv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 3rem; */
}

.projects{
    text-align: center;
    color: #33a06f;
}

.underline{
    width: 5rem;
    height: 0.2rem;
    background-color: white;
    /* text-align: center; */
}


@media (max-width: 426px) {
    html {
      font-size: 10px;
    }
    
    .projectList{
        /* width: 100%; */
        display: block;
    }

    .projectListDiv{
        width: 90%;
        margin: auto;
        /* padding: ; */

    }
}